body {
    direction: rtl;
    margin: 0 auto;
}

.bodyApp {
    position: relative;
    background: rgb(1,5,26);
    background: linear-gradient(0deg, rgba(1,5,26,1) 0%, rgba(21,44,79,1) 100%);
    border: solid 1px black;
    height: 100vh;
}

#coursImage {
    margin: auto;
    position: relative;
    border: solid black 1px;
    width: 70%;
    padding-bottom: 70%;
    margin-top: 26%;
    background-size: cover;
    background-repeat: no-repeat;
}


#lessonName {
    position: relative;
    right: 10%;
    top: 2%;
    margin: auto;
    color: #DDDDDD;
    font-family: calibri;
    font-size: 110%
}

#authorName {
    position: relative;
    top: 2%;
    right: 10%;
    margin: auto;
    color: #DDDDDD;
    font-family: calibri;
    font-size: 100%;
}

.progressBar {
    position: relative;
    height: 15px;
    top: 10%;
    direction: ltr;
    border: solid black 1px;
}

#progressBackground {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #DDDDDD;
}

.progress {
    position: absolute;
    z-index: 9;
    width: 0px;
    height: 8px;
    background: #D11919;
    transition: width 1ms linear;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}


.audioBarBtns {
    height: 10px;
    border: solid black 1px;
    position: relative;
    margin: 0 auto;
    top: 15%;
}

#cell4btn {
    border: 1px solid black;
}

.playBtn {
    margin: auto;
    position: relative;
    border: solid black 1px;
    width: 90%;
    padding-bottom: 90%;
    background-image: url('../appSrc/icons/play.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.pauseBtn {
    margin: auto;
    position: relative;
    border: solid black 1px;
    width: 90%;
    padding-bottom: 90%;
    background-image: url('../appSrc/icons/pause.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#replayBtn {
    margin: auto;
    position: relative;
    border: solid black 1px;
    width: 90%;
    padding-bottom: 90%;
    background-image: url('../appSrc/icons/replay10sec.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#nextBtn {
    margin: auto;
    position: relative;
    border: solid black 1px;
    width: 90%;
    padding-bottom: 90%;
    background-image: url('../appSrc/icons/Next10sec.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#timeLabel {
    color: #DDDDDD;
    position: relative;
    top: 10%;
    font-family: calibri;
    font-size: 15px;
}



#courseInfo {
    color: #DDDDDD;
    font-family: calibri;
    width: 100%;
    height: 50%;
    border: solid pink 1px;
}

#courseTitleLbl {
    font-size: 270%;
    position: relative;
    top: 16%;
}

#courseDescriptionLbl {
    font-size: 100%;
    position: relative;
    top: 16%;
}

#courseAuthorLbl {
    font-size: 120%;
    position: relative;
    top: 70px;
}

#courseLessons {
    position: relative;
    color: #DDDDDD;
    font-family: calibri;
    width: 100%;
    height: 40%;
}

ol {
    list-style-type: none;
}

li {
    height: 60px;
    border: solid pink 1px;
    position: relative;
}

#TitleAndDesc {
    
    border: 1px solid;
    height: 100%;
    width: 70%;
    background-color: black;
}

.lessonTitle {
}

#lessonDesc {
}

#lessonPlayIcon {
    width: 30px;
    height: 30px;
    background-color: antiquewhite;
}

.courseBtn {
    position: absolute;
    height: 100%;
    opacity: 0.2;
    padding: 0px !important;
}
